/* Navigation */
.nav {
    display: flex;
    justify-content:space-between;
    padding: 1rem 1.3rem 1.3rem 1.3rem;
}
.button {
    color: white;
    background-color: #0171E3;
    padding: 1rem;
    border-radius: 2rem;
}
.ico {
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
}
/* Email */
.emailsection {
    background-image: url(../img/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emailcontainer {
    max-width: 37rem;
}
.form {
    text-align: center;
}
.title {
    color: white;
}
.email {
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 25rem;
    margin-right: 1rem;
}
.submit {
    cursor: pointer;
}
/* Categories */
.categories {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.card {
    margin: 1rem;
    max-width: 19.9rem;
}
.titles{
    margin: 1rem 0;
    text-align: center;
}
.categorytext {
    font-weight: 100;
    text-align: center;
}
.iconcolor {
    color: #0470E3;
}
.icons {
    display: flex;
    justify-content: center;
}
/* Main */
.row {
    display: flex;
    justify-content: center;
}
.imagediv1 {
    background-image: url(../img/bg-showcase-1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:right;
    width: 40rem;
    height: 26.8rem;
}
.imagediv2 {
    background-image: url(../img/bg-showcase-2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 40rem;
    height: 26.8rem;
}
.imagediv3 {
    background-image: url(../img/bg-showcase-3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 40rem;
    height: 26.8rem;
}
.textdiv {
    width: 40rem;
    height: 26.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paddingx {
    padding: 0 1rem;
}
/* Testimonial */
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.4rem;
}
.testimonialtitle {
    margin-bottom: 0.15rem;
}
.people {
    display: flex;
}
.profile {
    width: 10rem;
    border-radius: 50%;
}